<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="TI1Stoku.Properties.Settings.EbisoftConnectionString"
            connectionString="Data Source=DESKTOP-CMLIJCG\SQLEXPRESS;Initial Catalog=Ebisoft;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>